.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: antiquewhite;

}
a{
    text-decoration: none;

}
a:link{
    color: grey;
}